#include <windows.h>

IDI_ICON1 ICON "element.ico"

1 VERSIONINFO
FILEVERSION 1,0,0,0
PRODUCTVERSION 1,0,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS VOS_NT_WINDOWS32
FILETYPE VFT_APP
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName", "vaibhxvvy"
            VALUE "FileDescription", "A fast local launcher and search tool for Windows"
            VALUE "FileVersion", "1.0.0.0"
            VALUE "InternalName", "element"
            VALUE "LegalCopyright", "Copyright (c) 2024 vaibhxvvy"
            VALUE "OriginalFilename", "element.exe"
            VALUE "ProductName", "Element"
            VALUE "ProductVersion", "1.0.0.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
